
.firstSection{
    width: 40%;
    margin: 50px auto;
    background: linear-gradient(90deg,#D7F9F3,#B8F5FA);
    background-size: 200% 200%;
    border-radius: 20px;
    font-size: 35px;
    font-weight: 500;
    text-align: center;
    animation: gradientAnimation 1s linear infinite alternate;
    
    @keyframes gradientAnimation {
            0% {
                background-position: 0% 50%;
            }
    
            100% {
                background-position: 100% 50%;
            }
    }
    
    img{
        position: relative;;
        width: 90%;
        height: 100%;
        top: -5px;
    }

    p{
        margin: 20px 20px 50px 20px;
        padding: 0px 30px;
    }

    &_button{
        display: flex;
        justify-content: space-around;
        button{
            cursor: pointer;
            border-radius: 20px;
            width: 40%;
            height: 45px;
            margin: 0px 25px 25px 25px;
            font-size: 20px;
            font-weight: 600;
            border: none;
            background: #3EE9CA;
            color: #ffffff;
            transition: box-shadow 0.3s ease;
        }
        button:hover{
            box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
        }
    }

    @media (max-width: 1720px) {
        width: 45%;
        font-size: 30;

        button {
                font-size: 17px;
            }
    }

    @media (max-width: 1420px){
        width: 55%;

        p{
            margin: 20px 20px 40px 20px;
        }
    }

    @media (max-width: 1120px) {
        width: 55%;
        font-size: 24px;
        margin: 30px auto;

        img{
            top:-7px;
        }
    
        p {
            margin: 20px;
        }

        button {
            font-size: 15px;
            height: 35px;
        }
    }

    @media (max-width: 1020px) {
        width: 45%;
        font-size: 20px;
        margin: 20px auto;
    
        img {
            top: -5px;
        }
    
        p {
            margin: 20px;
            padding: 0px 25px;
        }
    
        button {
            height: 30px;
            font-size: 11px;
        }
    }

    @media (max-width: 920px) {
        p{
            margin: 10px;
            padding: 0px 20px;
        }

        &_button{

            button{
                width: 60%;
            }
            button:nth-child(2){
                display: none;
            }
        }
        
    }
    
}