
.thirdSection{
    width: 100%;
    height: 450px;
    padding-top: 95px;
    background: linear-gradient(#ffffff,#3EB6E8,#3EE9CA,#ffffff);

        &_item{
            width: 80%;
            height: 365px;
            margin: 0px auto;
            text-align: center;
            background: #ffffff;
            border: 2px solid;
            border-radius: 25px;

            &_text{
                margin-top: 25px;
                p:nth-child(1){
                    font-size: 40px;
                    font-weight: 700;
                    margin-bottom: 20px;
                    color: #3EE9CA;
                }
                p:nth-child(2) {
                    font-size: 30px;
                    font-weight: 400;
                    margin-top: 20px;
                    color:#3EB5E9;
                }
            }

            &_slider{
                display: flex;
                justify-content: space-around;
                &_block{
                width: 70%;
                    position: relative;
                    img:nth-child(1) {
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);

                    }

                    img:nth-child(2) {
                        position: absolute;
                        z-index: 10px;
                        left: 50%;
                        transform: translate(-50%,40%);
                    }
                }
            }
        }

        &_imageText {
            width: 90%;
            margin: 150px auto;
            display: flex;
            align-items: center;
            justify-content: space-around;

            &_img{
                width: 130%;
                
                img{
                    width: 100%;
                }
            }

            &_text{
                margin: 45px;
                border-radius: 25px;
                background: linear-gradient(#CFECF9,#D7F9F3);
                text-align: center;

                p:nth-child(1){
                    font-size: 32px;
                    padding: 70px 25px 0px 25px;
                    font-weight: 700;
                    color: #1E99C0;
                }

                p:nth-child(2) {
                    padding: 20px 35px 70px 35px;
                    font-size: 18px;
                    font-weight: 400;
                    color: #29B097;
                }
            }
        }
}
