
.thirdSection{
    &_block{
        width: 100%;
        height: 450px;
        padding-top: 45px;
        background: linear-gradient(#ffffff,#3EB6E8,#3EE9CA,#ffffff);

        &_item{
            width: 80%;
            height: 395px;
            margin: 0px auto;
            text-align: center;
            background: #ffffff;
            border: 2px solid;
            border-radius: 25px;

            &_text{
                margin-top: 25px;

                p{
                    background-image: linear-gradient(90deg,#3EB5E9,#3EE9CA, #3EB5E9);
                    -webkit-background-clip: text;
                    background-clip: text;
                    color: transparent;
                }

                p:nth-child(1){
                    font-size: 40px;
                    font-weight: 700;
                    margin-bottom: 20px;
                    
                }
                p:nth-child(2) {
                    font-size: 30px;
                    font-weight: 400;
                    margin: 20px;
                }
            }

            &_slider{
                display: flex;
                justify-content: space-evenly;

                &_img{
                    margin-top: 40px;                    
                    position: relative;

                    img:nth-child(1) {
                        width: 120px;
                        height: 120px;
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                    }

                    img:nth-child(2) {
                        width: 100px;
                        height: 80px;
                        position: absolute;
                        z-index: 10px;
                        left: 50%;
                        transform: translate(-50%,40%);
                    }
                }
            }
        }
    }

        &_imageText {
            width: 90%;
            margin: 20px auto;
            display: flex;
            align-items: center;
            justify-content: space-around;

            &_img{
                width: 120%;
                
                img{
                    width: 100%;
                }
            }

            &_text{
                margin: 45px;
                border-radius: 25px;
                background: linear-gradient(#CFECF9,#D7F9F3);
                text-align: center;

                p:nth-child(1){
                    font-size: 32px;
                    padding: 70px 25px 0px 25px;
                    font-weight: 700;
                    color: #1E99C0;
                }

                p:nth-child(2) {
                    padding: 20px 35px 70px 35px;
                    font-size: 18px;
                    font-weight: 400;
                    color: #29B097;
                }
            }
        }

        @media (max-width: 1220px) {
            &_block {
                    height: 400px;
            
                    &_item {
                        height: 355px;
            
                        &_text {
            
                            p:nth-child(1) {
                                font-size: 35px;
                            }
            
                            p:nth-child(2) {
                                font-size: 27px;
                                font-weight: 400;
                                margin: 15px 25px;
                            }
                        }
            
                        &_slider {
            
                            &_img {
                                margin-top: 20px;
                            }
                        }
                    }
                }

            &_imageText {
                margin: 10px auto;
                
                &_img {
                    width: 120%;
                }
                
                &_text {
                    margin: 40px;
                
                    p:nth-child(1) {
                        font-size: 32px;
                        padding: 40px 20px 0px 20px;
                    }
                
                    p:nth-child(2) {
                        padding: 20px 30px 40px 30px;
                        font-size: 18px;
                    }
                }
            }

        }
        @media (max-width: 1020px) {
            &_block{
                height: 350px;

                &_item{
                    height: 295px;

                    &_text {
                            margin-top: 10px;
                    
                            p:nth-child(1) {
                                font-size: 30px;
                                margin-bottom: 10px;
                            }
                    
                            p:nth-child(2) {
                                font-size: 18px;
                                margin: 10px;
                            }
                        }

                    &_slider {

                        &_img {
                            margin-top: 15px;
                            img:nth-child(1) {
                                width: 100px;
                                height: 100px;
                            }
                
                            img:nth-child(2) {
                                width: 80px;
                                height: 60px;
                                transform: translate(-50%, 50%);
                            }
                        }
                    }
                }
            }
                &_imageText {
                    margin: 10px auto;
                
                    &_text {
                        margin: 25px;
                
                        p:nth-child(1) {
                            font-size: 25px;
                            padding: 35px 15px 0px 15px;
                        }
                
                        p:nth-child(2) {
                            padding: 20px 35px 35px 35px;
                            font-size: 14px;
                        }
                    }
                }
            }

            @media (max-width: 920px) {
                &_block{
                    height: 300px;

                    &_item{
                        height: 255px;

                        &_text {
                    
                            p:nth-child(1) {
                                font-size: 25px;
                                margin-bottom: 10px;
                            }
                    
                            p:nth-child(2) {
                                font-size: 16px;
                                margin: 10px;
                            }
                        }
                    }
                }

                &_imageText {
                    margin: 10px auto;
                
                    &_text {
                        margin: 20px;
                
                        p:nth-child(1) {
                            font-size: 22px;
                            padding: 15px 15px 0px 15px;
                        }
                
                        p:nth-child(2) {
                            padding: 10px 25px 15px 25px;
                            font-size: 12px;
                        }
                    }
                }
            }
        
}
