@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('./left.css');
@import url('./right.css');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}
body{
    background: linear-gradient(rgb(233, 248, 255), rgb(230, 255, 250), rgb(233, 248, 255));
    min-height: 100vh;
}
.App{
    display: flex;
    width: 95%;
    margin: 10px auto;
    height: 95vh;
}